mixin header-menu(props)
    ul.header__menu(role='navigation')&attributes(attributes)
        each route, ndx in props
            li.header__menu-item
                a(href!= route.path class=(ndx === 0 ? 'header__menu-link_active' : '')).header__menu-link!= route.name
