mixin counter-section(props)
    .counter-section&attributes(attributes)
        +container.container_static.counter-section__data
            h2.counter-section__title= 'Значение счетчика на активном слайде:'
            .counter-section__value= 2
            +button.btn_primary.btn_rounded
                | Открыть
