mixin counter-section(props)
    .counter-section&attributes(attributes)
        +container.container_static.counter-section__data
            h2.counter-section__title= 'Значение счетчика на активном слайде:'
            +main-counter.counter-section__value
            +button.modal__open-btn.btn_primary.btn_rounded Открыть
