mixin slider-counter(props)
    .slider-counter&attributes(attributes)
        +button({class: "slider-counter__dec-btn"})
            +svg('count-minus')
        .slider-counter__block 1
        +button({class: "slider-counter__inc-btn"})
            +svg('count-plus')
