mixin counter(props)
    .counter&attributes(attributes)
        .container
            button.counter__btn.decrement
                |-
            span.counter__count|0 
            button.counter__btn.increment
                |+
