mixin counter(props)
    .counter&attributes(attributes)
        +button({ title: '-' })(class= 'button__slider minus')
        span.counter__value!=props.value
        +button({ title: '+' })(class= 'button__slider plus')
