.slider-item {
    $root: &;

    .swiper-slide {
       


        & img {
            display: block;
            width: 1400px;
            height: 720px;
            object-fit: cover;
        }

    }

}