extends ../../app/pug/layout

block title
    | Counter

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="counter").content-wrapper
        +modal(dataJson)