extends ../../app/pug/layout

block title
    | counter

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="counter").content-wrapper
        .wrapper.wrapper-counter
            h1.counter-title Значение счетчика на активном слайде:
            .main-counter 0
            +button({text: "Открыть", class: "modal-slider__button open-modal-btn"})
            +modal-slider