extends ../../app/pug/layout

block title
    | counter

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="counter").content-wrapper
        .wrapper.wrapper-counter
            h1.counter-title Значение счетчика на активном слайде:
            .main-counter 0
<<<<<<< HEAD
            +button.open-modal-btn.modal-slider__button Открыть
=======
            +button.modal-slider__button.open-modal-btn Открыть
>>>>>>> task-3
            +modal-slider