mixin counter-container(props)
    .counter-container&attributes(attributes)
        h2.counter-container__title Значение счетчика на активном слайде:
        +counterCurrentValue.counter-container__value
        button.counter-container__btn Открыть
