.counter-container {
    $root: &;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;

    .counter-container__title {

        color: #42567A;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .counter-container__value {
        font-weight: 400;
        font-size: 128px;
        line-height: 150px;
      

        text-align: center;

        color: #42567A;
    }

    .counter-container__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;

        padding: 20px 40px;
        background: #3877EE;
        border-radius: 30px;
        margin-top: 30px;

    }
}