mixin counter(props)
    .counter&attributes(attributes)
        .counter__title
            h2 Значение счётчика на активном слайде
        .counter__value
            span
        +button.modal-slider__open Открыть

