.content {
    $root: &;
    max-width: 1681px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: content-box;

    &__title {
        @include h1;
        margin-top: 100px;
        color: #012b34;

        @include media-breakpoint-down(xxl) {
            margin-top: 80px;
        }
        @include media-breakpoint-down(xl) {
            margin-top: 70px;
        }
        @include media-breakpoint-down(md) {
            margin-top: 60px;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down(xxl) {
        max-width: 1213px;
    }
    @include media-breakpoint-down(xl) {
        max-width: 1066px;
    }
    @include media-breakpoint-down(md) {
        max-width: 688px;
    }
    @include media-breakpoint-down(xs) {
        max-width: 327px;
    }
}
