
mixin slider(props)
    .slider&attributes(attributes)
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    +img({src: '../../assets/images/slide-image1.jpg', alt: 'Слайд1'})
                .swiper-slide
                    +img({src: '../../assets/images/slide-image2.png', alt: 'Слайд2'})
                .swiper-slide
                    +img({src: '../../assets/images/slide-image3.jpg', alt: 'Слайд3'})
        .swiper-button-next.swiper-button-btn
        .swiper-button-prev.swiper-button-btn


