@import 'swiper/css';

.slider {
    $root: &;

    .swiper {
        margin: 5rem 0 6.5rem 0;

        max-width: 1427px;
        max-height: 956px;

        .swiper-slide {
            text-align: center;

            & img {
                width: 1400px;
                height: 720px;
                object-fit: cover;
            }
        }
    }

    .swiper-button-btn.swiper-button-next::after,
    .swiper-button-btn.swiper-button-prev::after {
        font-size: 2.4rem;
        background-color: #fff;
        box-shadow: 0px 0px 1.5rem rgba(56, 119, 238, 0.1);
        border-radius: 50%;

        padding: 2.25rem 2.55rem 2.25rem 2.7rem;
    }

    .swiper-button-btn.swiper-button-next::after {
        margin-right: 5rem;
    }

    .swiper-button-btn.swiper-button-prev::after {
        margin-left: 5rem;
    }




}