mixin modal(props)
    .modal&attributes(attributes).active
        .modal__content
            button.modal__button!= 'Закрыть'
            .swiper
                .swiper-wrapper 
                    .swiper-slide
                        +img({src: '../../assets/images/swiper_image.jpg', alt: 'картинка'}).swiper_image
                        +counter
                    .swiper-slide
                        +img({src: '../../assets/images/swiper_image.jpg', alt: 'картинка'}).swiper_image
                        +counter
                    .swiper-slide
                        +img({src: '../../assets/images/swiper_image.jpg', alt: 'картинка'}).swiper_image
                        +counter
                    .swiper-slide
                        +img({src: '../../assets/images/swiper_image.jpg', alt: 'картинка'}).swiper_image
                        +counter
            .swiper-button-prev
            .swiper-button-next