$white: #ffffff;
$black: #000000;
$main-background: #f4f5f9;
$second-background: #3877ee;
$main-text-color:  #012b34;
$second-text-color: #000402;
$accent-color:#02818a;
$accent-counter:#42567a;
$border-color: #e6e6e6;
$border-color-counter: #303e58;

