@import '../../components/common/header/header';
@import '../../components/common/footer/footer';
@import '../../components/ui/spoiler/spoiler';
@import '../../components/ui/slider/slider';
@import '../../components/ui/counter/counter';

@import '../../components/blocks/myModal/myModal';
@import '../../components/blocks/counterCurrentValue/counterCurrentValue';
@import '../../components/blocks/counterContainer/counterContainer';
@import '../../components/blocks/sliderItem/sliderItem';
@import '../../components/blocks/headerNav/headerNav';
