html {
    font-family: $font-roboto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    //height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    //height: 100%;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1, h2, h3, h4, h5, p, a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::placeholder {
        letter-spacing: -0.02em;
    }
}

button {
    background: transparent;
    border: none;
    font-family: $font-roboto;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

[data-barba="container"] {
    position: relative;
    padding: 100px 160px 222px 122px;

    @include media-breakpoint-up(xxl) {
        padding: 80px 120px 240px 108px;
        }
    
        @include media-breakpoint-up(xl) {
            padding: 70px 107px 145px;
        }
    
        @include media-breakpoint-up(md) {
            padding: 60px 40px 327px;
        }

        @include media-breakpoint-down(md) {
            padding: 50px 24px 12px;
        }
}

.main-title {
    margin-bottom: 80px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #012b34;
    
    @include media-breakpoint-up(xxl) {
        margin-bottom: 60px;
        font-size: 48px;
    }
    
    @include media-breakpoint-up(xl) {
        margin-bottom: 56px;
        font-size: 42px;
    }
    
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
        font-size: 42px;
    }

    @include media-breakpoint-down(md) {
        max-width: 190px;
        width: 100%;
        margin-bottom: 40px;
        font-size: 30px;
    }
    
}

.object-fit {
    &-cover {
        object-fit: cover;
    }
}

.barba-leave-active,
.barba-enter-active {
    transition: opacity .3s ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}

[data-modal] {
    cursor: pointer;
}
