html {
    font-family: $font-roboto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    //height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    //height: 100%;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1, h2, h3, h4, h5, p, a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::placeholder {
        letter-spacing: -0.02em;
    }
}

button {
    background: transparent;
    border: none;
    font-family: $font-roboto;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

[data-barba="container"] {
    position: relative;
}

.object-fit {
    &-cover {
        object-fit: cover;
    }
}

.barba-leave-active,
.barba-enter-active {
    transition: opacity .3s ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}

[data-modal] {
    cursor: pointer;
}

.wrp {
    font-weight: 400;
    color: #012B34;
    margin: 100px 160px 80px 160px;
    padding: 0;
    box-sizing: border-box;

    @include media-breakpoint-down(xxl) {
        margin: 80px 120px 80px 120px;
        padding: 0;
    }
    
     @include media-breakpoint-down(xl) {
        margin: 70px 107px 70px 107px;
        padding: 0;
    }
    
    @include media-breakpoint-down(md) {
        margin: 60px 40px 60px 40px;
    }
    
     @include media-breakpoint-down(xs) {
        margin: 50px 24px 50px 24px;
    }
}

.title {
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 80px;
    @include title;

    @include media-breakpoint-down(xxl) {
        margin-bottom: 60px;
    }
    
     @include media-breakpoint-down(xl) {
        margin-bottom: 56px;
    }
    
    @include media-breakpoint-down(md) {
        margin-bottom: 50px;
    }
    
     @include media-breakpoint-down(xs) {
        margin-bottom: 40px;
    }
}