html {
    font-family: $font-roboto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    //height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

* {
    box-sizing: border-box;
}

body {
    min-width: 375px;
    position: relative;
    //height: 100%;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::placeholder {
        letter-spacing: -0.02em;
    }
}

button {
    background: transparent;
    border: none;
    font-family: $font-roboto;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

[data-barba="container"] {
    position: relative;
}

.object-fit {
    &-cover {
        object-fit: cover;
    }
}

.barba-leave-active,
.barba-enter-active {
    transition: opacity 0.3s ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}

[data-modal] {
    cursor: pointer;
}

.wrapper {
    max-width: 1920px;
    padding: 347px 20px 294px 20px;
    margin: 0 auto;
    text-align: center;
    cursor: default;
}

.counter-title {
    font-size: 36px;
    line-height: 42px;
    color: $counter;
    margin-bottom: 71px;
}

.main-counter {
    font-size: 128px;
    line-height: 150px;
    color: $counter;
    margin-bottom: 108px;
}
