@mixin h1 {
    line-height: 1;
    font-weight: normal;
    @include font(30, 60, 60, 80, 80);
}

@mixin header($color: $mainColor) {
    @include font(64, 48, 42, 42, 30);
    color: $color;
    font-family: $font-roboto;
}

@mixin title($color: $mainColor) {
    margin: 0;
    color: $color;
    font-family: $font-roboto;
    @include font(36, 27, 24, 27, 24);
}

@mixin body1 {
    @include font(14, 14, 16, 16, 16);
    line-height: 1.5;
}

@mixin p1 ($color: $secondaryColor) {
    padding: 0;
    color: $color;
    font-family: $font-roboto;
    @include font(15, 15, 14, 15, 15);
}


// Заголовки

.h-1 {
    @include h1;
}



// Обычный текст

.body-1 {
    @include body1;
}