@mixin h1 {
    line-height: 1;
    font-weight: normal;
    @include font(30, 60, 60, 80);
}

@mixin body1 {
    @include font(14, 14, 16, 16);
    line-height: 1.5;
}


// Заголовки
.h-1 {
    @include h1;
}

.h-2 {
    margin-top: 72px;
    margin-bottom: 74px;
    color: $darkteal;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -1px;

    @include media-breakpoint-down('xxl') {
        margin-top: 66px;
        margin-bottom: 52px;
        font-size: 48px;
    }

    @include media-breakpoint-down('xl') {
        margin-top: 56px;
        margin-bottom: 48px;
        font-size: 42px;
    }

    @include media-breakpoint-down('md') {
        margin-top: 46px;
        margin-bottom: 42px;
        font-size: 42px;
    }

    @include media-breakpoint-down('xs') {
        margin-top: 36px;
        margin-bottom: 32px;
        font-size: 30px;
    }
}


// Обычный текст

.body-1 {
    @include body1;
}