@mixin h1 {
    line-height: 1;
    font-weight: normal;
    @include font(30, 60, 60, 80);
}

@mixin body1 {
    @include font(14, 14, 16, 16);
    line-height: 1.5;
}

@mixin spoilerTitle {
    line-height: 1;
    letter-spacing: -0.02em;
    @include font(64, 48, 42, 30);
}

@mixin spoilerItemLabel {
    line-height: 120%;
    @include font(36, 27, 27, 24);
}

// Заголовки
.h-1 {
    @include h1;
}

// Обычный текст

.body-1 {
    @include body1;
}
