mixin modal(props)
    .modal&attributes(attributes)
        .modal__controls
            +button.btn.btn_rounded.btn_primary(data-role='modal-close-btn') Закрыть
        .modal__content
            block
