.header {
    $root: &;
    max-width: 1920px;
    display: flex;

    align-items: center;
    justify-content:space-between;

    padding: 3rem 4rem ;

    svg {
        fill: $black;
        width: 40px;
        height: 18px;
        
    }
}