mixin header(props)
    header&attributes(attributes).header
        a(href="/").header__logo
            +svg('only')
        ul.header__navbar
            li.header__navbar-item
                a(href="/") Главная
            li.header__navbar-item
                a(href="/task2.html") Task2
        p header
