.header {
    $root: &;
    display: flex;
    align-items: center;
    padding: rem(28) rem(40);
    font-size: 16px;
    color: #232323;
    background-color: $white;

    svg {
        fill: currentColor;
        width: rem(69);
        height: rem(24);
    }
}

.header__logo { display: flex; }
