.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__btn {
    margin: 0 rem(20);
}

.carousel__btn_prev {
    svg {
        transform: rotate(180deg);
        margin-right: .2em;
    }
}

.carousel__btn_next {
    svg { margin-left: .2em; }
}

.carousel__inner {
    max-width: rem(1400);
}

.carousel__img-wrapper {
    font-size: 0;
    text-align: center;
}

.carousel__img {
    max-width: 100%;
}

.carousel__slide-counter {
    margin-top: rem(50);
    text-align: center;
}
