extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +container
            h1.h-1!= dataJson.index.title
            +spoiler(dataJson.index.spoiler)
