extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +spoilerList
            each spoiler in dataJson.index
                +spoiler(spoiler)

            
        
