extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h2.title!= dataJson.index.title

        +spoilers(dataJson.spoilers)
