extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1.h-1!= dataJson.index.title
        +spoiler(dataJson.index.spoiler1)
        +spoiler(dataJson.index.spoiler2)
        +spoiler(dataJson.index.spoiler3)
        +spoiler(dataJson.index.spoiler4)
        +spoiler(dataJson.index.spoiler5)
           
