extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        section.spoilers
            .spoilers__title-wrapper 
                h1.spoilers__title!= dataJson.index.title
            +spoilersList(dataJson.index.content)
