extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1.h-1.page__title= dataJson.index.title
        ul.spoilers
            each spoiler, index in dataJson.index.spoilers
                +spoiler(spoiler, index)
