extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1.h-1.page-title= dataJson.index.title
        +spoiler(dataJson.index.spoilers)
