extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1.h-1!= dataJson.index.title
        +spoiler(dataJson.index.spoiler1)
        +spoiler(dataJson.index.spoiler2)
           p.spoiler__ul-head Данный двигатель устанавливался на следующие автомобили:
           ul.spoiler__ul.list
              li.list__item Toyota Supra
              li.list__item Toyota Aristo / Lexus GS 300
              li.list__item Toyota Crown / Crown Majesta
              li.list__item Toyota Soarer / Lexus SC 300
