extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +content
            +spoiler-wrapper({data: dataJson.spoilers})
