extends ../../app/pug/layout


block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1 Lorem ipsum
        hr
        +spoiler(
            {title:["1. Nullam tincidunt vestibulum porttitor","2. Class aptent taciti sociosqu ad litora","3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget",
            "4. Mauris ut suscipit tellus","5. Nullam placerat porta libero, vel maximus augue euismod eget"]})
            .text-block Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit. 

 

            

