extends ../../app/pug/layout

block title
    | Главная

block content
    main.main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        .container
            .main__wrapper
                h1.main__heading!=dataJson.index.title
                ul.main__list.list
                    each item in dataJson.index.spoilers
                        +spoiler(item).list__item
                            each text in item.text
                                p!=text


