extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        .wrapper
            h1.title!= 'Значение счетчика на активном слайде:'
            p.counter-value!= 'Открой:)'
            button.open-modal!= 'открыть'
        +modal
