extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        h1.h-1 Lorem ipsum
        ul.spoiler__list
            each item in dataJson.index.spoilers
                +spoiler(item)
                    p.text-block!= item.text
