extends ../../app/pug/layout

block title
    | Главная

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        .wrapper
            +spoiler(dataJson.index.spoiler01)
            +spoiler(dataJson.index.spoiler02)
            +spoiler(dataJson.index.spoiler03)
