mixin modal-slider(props)
    .modal-slider&attributes(attributes)
        .modal-slider__wrapper
            +button({text: "Закрыть", class: "modal-slider__button"})
            +slider(dataJson.index.slider)