mixin spoiler(props)

    ul.spoiler&attributes(attributes)
        each dataSpoiler in props
            li.spoiler__element
                button.spoiler__head
                    span.spoiler__head-title!= dataSpoiler.title
                    span.spoiler__head-icon
                        +svg('plus')

                .spoiler__collapse
                    .spoiler__content
                        each dataSpoilerText in dataSpoiler.text
                            p= dataSpoilerText