mixin spoiler(props)
    .spoiler&attributes(attributes)
        h1.spoiler__title
            |Lopem
        ul.spoiler__collapse
            each spoiler in props
                li.spoiler__item
                    button.spoiler__btn
                        span.spoler__item-title!= spoiler.title
                    p.spoiler__content!=spoiler.text
          
