mixin spoiler(props)
    .spoiler&attributes(attributes)
        .spoiler__container
            .spoiler__group
                h1.spoiler__group-title!= props.title
                each spoiler in props.spoilers
                    .spoiler__group-item
                        h2.spoiler__item-label!= spoiler.label
                        .spoiler__item-content.spoiler__item-content--hidden!= spoiler.content
