.spoiler {
    $root: &;

    &__inner {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }


    &__title {
        font-style: normal;
        font-weight: 400;
        color: $primary;
        cursor: pointer;

        @include spoiler-title-1;
    }

    &__text {
        height: 0;
        overflow: hidden;
        max-width: 942px;
        font-weight: 400;
        color: $secondary;
        opacity: 0.8;
        transition: height 0.3s;

        @include spoiler-text-1;

        p {
            margin-bottom: 10px;
        }
    }

    &__button {
        margin-left: auto;
        transition: all 0.2s ease-in-out;

        svg {
            height: 47px;
            width: 47px;
        }
    }

    &--active {
        #{$root}__title {
            color: $tertiary;
        }

        #{$root}__button {
            align-self: start;
            transform: rotate(45deg);
        }
    }
}

/* media */

.spoiler {
    $root: &;
    // Стили для 1920

    @include media-breakpoint-down(xxl) {
        // Стили для 1440 и меньше
        #{$root}__inner {
            gap: 20px;
        }

    }

    @include media-breakpoint-down(xl) {
        // Стили для 1280 и меньше
        #{$root}__inner {
            gap: 16px;
        }

    }

    @include media-breakpoint-down(md) {
        // Стили для 768 и меньше

    }

    @include media-breakpoint-down(xs) {
        // Стили для 375 и меньше
        #{$root}__title {
            max-width: 289px;
        }
    }
}
