mixin spoiler(props)
  .spoiler&attributes(attributes)
    .spoiler__container
      .spoiler__group
        h1.spoiler__group-title Lorem ipsum dolor
        .spoiler__group-item
          h2.spoiler__item-label 1. Nullam tincidunt vestibulum porttitor
          .spoiler__item-content.spoiler__item-content--hidden Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.
        .spoiler__group-item
          h2.spoiler__item-label 2. Class aptent taciti sociosqu ad litora
          .spoiler__item-content.spoiler__item-content--hidden Cras vel nibh ac nisi dignissim molestie et sit amet dui. Quisque pulvinar vulputate mollis. Curabitur tempor risus turpis, ut condimentum arcu volutpat vitae. Curabitur in dolor eu justo viverra suscipit.
        .spoiler__group-item
          h2.spoiler__item-label 3. Nulla fringilla ligula elit, non laoreet ipsum rutrum eget
          .spoiler__item-content.spoiler__item-content--hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .spoiler__group-item
          h2.spoiler__item-label 4. Mauris ut suscipit tellus Lorem ipsum dolor sit amet, consect
          .spoiler__item-content.spoiler__item-content--hidden Dicta, architecto a id deleniti odio sapiente illum molestiae distinctio debitis earum, maiores ut nemo nihil tempora! Animi, sunt! Cumque, exercitationem qui.
        .spoiler__group-item
          h2.spoiler__item-label 5. Nullam placerat porta libero, vel maximus augue euismod eget
          .spoiler__item-content.spoiler__item-content--hidden Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo sapiente magnam accusantium possimus in doloremque cupiditate, molestias eius et, neque officia ipsum itaque reiciendis, eveniet soluta consequuntur ab incidunt!
