mixin spoiler(props)
    li(class=props.className)&attributes(attributes)
        .spoiler
            .spoiler__inner
                h5.spoiler__title=props.title
                button.button.spoiler__button(type='button')
                    +svg('spoiler-close')
            .spoiler__text
                block


