mixin spoiler(props)
    li.spoiler&attributes(attributes)
        h2.spoiler__head
            span.spoiler__head-title #{props.title}
            button.spoiler__head-icon
                +svg('plus-solid')(width='24px', height='24px')
        //  Оставил обертку __collapse, т.к. без него анимация получалась дерганной из-за паддингов
        //  и в целом, с ним удобнее рулить компонентом
        .spoiler__collapse
            p.spoiler__content #{props.content}
