mixin spoiler(props)
    .spoiler&attributes(attributes)
        .spoiler__main
            h3.spoiler__title=props.title
            button.spoiler__button
                +svg('plus')
        .spoiler__content
            block
