.spoiler {
    $root: &;
    
    &__head{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }

    &__head-title{
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: $main-text;
        text-align: left;
        margin: 30px 0;
        
        @include spoilerHeadTitle;

        @include media-breakpoint-down(xxl){
            margin: 24px 0 20px 0;
        }

        @include media-breakpoint-down(xl){
            margin: 20px 0 16px 0;
        }

        @include media-breakpoint-down(md){
            margin: 24px 0 16px 0;
        }

        @include media-breakpoint-down(xs){
            margin: 20px 0 16px 0;
        }
    }

    &{
        border-top: 1px solid #E6E6E6;
    }
    &:last-of-type{
        border-bottom: 1px solid #E6E6E6;
    }

    &.is-open &__head-title{
        color: $primary;
    }

    &__collapse{
        margin: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.2s;
    }

    &__content-text{
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: $secondary-text;
        opacity: 0.8;
        margin: 0 0 40px 0;

        @include spoilerContentText;

        @include media-breakpoint-down(xxl){
            margin: 0 0 30px 0;
        }

        @include media-breakpoint-down(xl){
            margin: 0 0 24px 0;
        }

        @include media-breakpoint-down(md){
            margin: 0 0 24px 0;
        }

        @include media-breakpoint-down(xs){
            margin: 0 0 20px 0;
        }
    }

    &__head-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        
        @include media-breakpoint-down(xxl){
            width: 15px;
            height: 15px;
        }
    }
    &__head-icon:before,
    &__head-icon:after {
        position: absolute;
        content: '';
        height: 20px;
        width: 2px;
        background-color: $primary;
        transition: all 0.3s;

        @include media-breakpoint-down(xxl){
            height: 15px;
        }
    }
    
    &__head-icon:before {
        transform: rotate(180deg);
    }
    &__head-icon:after {
        transform: rotate(-270deg);
    }
    
    &.is-open &__head-icon:before {
        transform: rotate(45deg);
    }
    &.is-open &__head-icon:after {
        transform: rotate(-45deg);
    }
}