mixin spoiler(props)
    ul.spoiler&attributes(attributes)
        each spoiler in props
            li.spoiler__item
                button.spoiler__btn!= spoiler.title
                    +svg('plus')(width='20', height='20')
                .spoiler__content!= spoiler.content
