mixin spoiler(props)
    li.spoiler&attributes(attributes)
        .spoiler__head
            span.spoiler__head-title!= props.title
            +svg('collapse').spoiler__head-icon

        .spoiler__collapse
            .spoiler__content
                block
