mixin spoiler(props)
    li.spoiler&attributes(attributes)
        h2.spoiler__head
            span.spoiler__head-title #{props.title}
            button.spoiler__head-icon
                +svg('plus-spoiler')(width='24px', height='24px')
        .spoiler__collapse
            p.spoiler__content #{props.content}
