extends ../../app/pug/layout

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="mainPage").content-wrapper
         +counterContainer()
         +myModal()
            +slider(dataJson.index.sliders)
