extends ../../app/pug/layout



block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="mainPage").content-wrapper
         +counter-container()
         +myModal()
            +slider(dataJson.index.sliders)
