mixin accordion(props)
    .content
        h1.accordion__text!=props.text
        ul.accordion&attributes(attributes)
            
                li.accordion__element
                    .accordion__head 
                        .accordion__head-title 1.What is that

                    .accordion__collapse 
                        .text-block hi Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magni nemo placeat deserunt omnis exercitationem aliquam repellat unde cumque esse quisquam maxime ut, dolor soluta, beatae quibusdam, blanditiis saepe dolorum!

                li.accordion__element
                    .accordion__head 
                        .accordion__head-title 2.Who is this

                    .accordion__collapse 
                        .text-block hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repudiandae quibusdam quas nisi ducimus, eligendi provident odit rem accusamus odio vero est veniam voluptatibus cumque libero repellat inventore velit ullam!

                li.accordion__element
                    .accordion__head 
                        .accordion__head-title 3.Who is this

                    .accordion__collapse 
                        .text-block hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repudiandae quibusdam quas nisi ducimus, eligendi provident odit rem accusamus odio vero est veniam voluptatibus cumque libero repellat inventore velit ullam!

                li.accordion__element
                    .accordion__head 
                        .accordion__head-title 4.Who is this

                    .accordion__collapse 
                        .text-block hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repudiandae quibusdam quas nisi ducimus, eligendi provident odit rem accusamus odio vero est veniam voluptatibus cumque libero repellat inventore velit ullam!

                li.accordion__element
                    .accordion__head 
                        .accordion__head-title 5.Who is this

                    .accordion__collapse
                        .text-block hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repudiandae quibusdam quas nisi ducimus, eligendi provident odit rem accusamus odio vero est veniam voluptatibus cumque libero repellat inventore velit ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro aut dolorum nihil ipsam veniam architecto ullam velit quidem. Dolor non recusandae assumenda mollitia blanditiis magni soluta dolorem consequuntur illo!