.preloader {
    $root: &;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e24;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    will-change: height;
    transition: height .9s;
    transform: translateY(100%);

    &._hidden{ 
        transform: translateY(0);
    }
}