.spoiler-section {
    $root: &;
}

.row {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .body {
        max-width: 1620px;
        margin: 40px;
    }
}
