.spoiler-item {
    $root: &;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.item{
    &-wrapper{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &-container{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title{
        font-size: 36px;
        line-height: 1.2;
        color: #012b34;
    }

    &-text{
        max-width: 942px;
        width: 100%;
        height: 0;
        font-size: 20px;
        line-height: 1.5;
        color: #000402;
        opacity: 0.8;
        transition: height 0.3s;

        &__active{
            padding-bottom: 20px;
            height: auto;
            transition: height 0.3s;
        }
    }
}


@media (min-width: 320px) and (max-width: 767.2px) {
    
    .item{
        &-title{
            font-size: 24px;        
        }

        &-text{
            font-size: 15px; 
        }

        &-container{
            align-items: flex-start;
        }
    }

}

@media (min-width: 768px) and (max-width: 1279.2px) {
    .item {
        &-title {
            font-size: 27px;
        }
    
        &-text {
            max-width: 612px;
            width: 100%;
            font-size: 15px;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1439.2px) {
    .item {
        &-title {
            font-size: 24px;
        }
    
        &-text {
            max-width: 640px;
            font-size: 14px;
        }
    }
}

@media (min-width: 1440px) and (max-width: 1919.2px) {
    .item {
        &-title {
            font-size: 27px;
        }
    
        &-text {
            max-width: 840px;
            font-size: 15px;
        }
    }
}