mixin counter-wrapper(props)
    .counter-wrapper&attributes(attributes)
        p.counter-wrapper__text Значение счетчика на активном слайде:
        span.counter-wrapper__value
        +button-round.counter-wrapper__button-open Открыть
        block
