.spoiler-wrapper{
    $root: &;
    margin: 100px 160px;

    @include media-breakpoint-down(xxl){
        margin: 80px 120px;
    }
    @include media-breakpoint-down(xl){
        margin: 70px 107px;
    }
    @include media-breakpoint-down(md){
        margin: 60px 40px;
    }
    @include media-breakpoint-down(xs){
        margin: 50px 24px;
    }

    .title{
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: $main-text;
        margin: 0 0 80px 0;

        @include spoilerWrapperTitle;
        
        @include media-breakpoint-down(xxl){
            margin: 0 0 60px 0;
        }
        @include media-breakpoint-down(xl){
            margin: 0 0 56px 0;
        }
        @include media-breakpoint-down(md){
            margin: 0 0 50px 0;
        }
        @include media-breakpoint-down(xs){
            margin: 0 0 40px 0;
        }
    }    
}