.transition {
    $root: &;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    z-index: 999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    transform:translateX(0%);

    visibility:hidden;
    transition: transform 0s, visibility 0s .3s;



    &._hidden{
 
        visibility: visible;
        transform: translateX(100%);
        transition: transform .6s, visibility 0s .6s;
      

    }
}