mixin transition(props)
    .transition&attributes(attributes)
        .transition__leave.transition__abs
        .transition__enter.transition__abs
            .transition__enter-top
            .transition__enter-bottom
