.navbar {
    $root: &;

    &__link {
        color: $black;
        text-transform: uppercase;

        &:hover {
            border-bottom: 2px solid $black;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
        &_current {
            border-bottom: 1px solid $black;
        }
    }
}
