include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/blocks/spoiler/spoiler
include ../../components/ui/spoiler-item/spoiler-item
include ../../components/ui/button/button
include ../../components/common/main/main
include ../../components/common/main/main
