include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/ui/button/button
include ../../components/sections/modal-slider/modal-slider
include ../../components/ui/slider/slider
include ../../components/ui/slider-counter/slider-counter
