include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/ui/slider/slider
include ../../components/ui/counter/counter
include ../../components/ui/myButton/myButton
include ../../components/blocks/myModal/myModal
