include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/blocks/spoiler-wrapper/spoiler-wrapper
include ../../components/ui/button-round/button-round
include ../../components/ui/counter/counter
include ../../components/blocks/counter-wrapper/counter-wrapper
include ../../components/blocks/modal-slider/modal-slider
include ../../components/blocks/swiper-block/swiper-block
