include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/ui/slider/slider
include ../../components/ui/counter/counter

include ../../components/blocks/myModal/myModal
include ../../components/blocks/counterCurrentValue/counterCurrentValue
include ../../components/blocks/counterContainer/counterContainer
include ../../components/blocks/sliderItem/sliderItem
