include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/sections/counter/counter
include ../../components/ui/modal-slider/modal-slider
include ../../components/ui/button/button
include ../../components/ui/modal-slide/modal-slide
