include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/blocks/spoiler/spoiler
include ../../components/ui/spoiler-item/spoiler-item
include ../../components/ui/button/button
include ../../components/common/main/main
include ../../components/common/main/main
include ../../components/common/main/main
include ../../components/blocks/modal/modal
include ../../components/ui/button-counter/button-counter
include ../../components/blocks/counter-container/counter-container
include ../../components/blocks/counter-wrapper/counter-wrapper
