include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/ui/spoiler/spoiler
include ../../components/blocks/container/container
include ../../components/blocks/button/button
include ../../components/sections/counter-section/counter-section
include ../../components/ui/carousel/carousel
include ../../components/ui/counter/counter
include ../../components/ui/main-counter/main-counter
include ../../components/blocks/carousel-item/carousel-item
include ../../components/common/modal/modal
include ../../components/blocks/header-menu/header-menu
