include ./mixins
include ./components

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title
            block title

    body(data-barba="wrapper")
        +header
        block content
        +footer
