@media screen and (max-width: 1920px) {

    body,
    html {
        font-size: 20px;
    }

    .block-info {
        margin: 4rem 6rem;
        /* 80px 120px*/

        h2 {
            font-size: 3.2rem;
            /* 64px */
            margin-bottom: 4rem;
        }

        .block-spoiler {
            margin: 1.5rem 0;

            .title-spoiler {
                h3 {
                    font-size: 1.8rem;
                    /* 32px */
                }
            }

            .spoiler {
                p {
                    margin: 1.5rem 0 0;
                    font-size: 1rem;
                }
            }
        }
    }

    .closeModal {
        top: 30%;
        width: 14px;
        height: 14px;
    }

    .closeModal::before,
    .closeModal::after {
        top: 5px;
        width: 14*1.4 + px;
        height: 2px;
        right: -3px;
    }
}

@media screen and (max-width: 1440px) {
    .block-info {
        margin: 4rem 6rem;
        /* 80px 120px*/

        h2 {
            font-size: 2.4rem;
            /* 48px */
            margin-bottom: 3rem;
            /* 60px */
        }

        .block-spoiler {
            margin: 1.2rem 0;

            /* 24px */
            .title-spoiler {
                h3 {
                    font-size: 1.33rem;
                    /* 27px */
                }
            }

            .spoiler {
                margin-bottom: .2rem;

                /* 20px */
                p {
                    margin: 1rem 0 0;
                    /* 20px */
                    font-size: .75rem;
                    /* 15px */
                }
            }
        }
    }
    .closeModal {
        top: 30%;
        width: 14px;
        height: 14px;
    }

    .closeModal::before,
    .closeModal::after {
        top: 5px;
        width: 14*1.4 + px;
        height: 2px;
        right: -3px;
    }
}

@media screen and (max-width: 1280px) {

    body,
    html {
        font-size: 1px;
    }

    p,
    a {
        font-size: 15rem;
    }

    .block-info {
        margin: 70rem 107rem;

        h2 {
            font-size: 42rem;
            margin-bottom: 56rem;
        }

        .block-spoiler {
            margin: 20rem 0;

            .title-spoiler {
                h3 {
                    font-size: 24rem;
                }
            }

            .spoiler {
                p {
                    margin: 16rem 0 0;
                    font-size: 14rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    p,
    a {
        font-size: 15rem;
    }

    .block-info {
        margin: 60rem 40rem;

        h2 {
            margin-bottom: 50rem;
        }

        .block-spoiler {
            margin: 24em 0;

            .title-spoiler {
                h3 {
                    font-size: 27rem;
                }
            }

            .spoiler {
                p {
                    margin: 16rem 0 0;
                    font-size: 15rem;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {

    p,
    a {
        font-size: 15rem;
    }

    .block-info {
        margin: 50rem 24rem;

        h2 {
            margin-bottom: 50rem;
        }

        .block-spoiler {
            margin: 20rem 0;

            .title-spoiler {
                h3 {
                    display: inline;
                    font-size: 24rem;
                }
            }

            .spoiler {
                p {
                    margin: 16rem 0 0;
                    font-size: 15rem;
                }
            }
        }
    }
}