.footer {
    $root: &;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        vertical-align: middle;
        fill: white;

        margin-left: 10px;
        width: 40px;
        height: 18px;
    }

    flex: 0 0 auto;
    padding: 10px;
}