.spoilers {
    $root: &;
    &__title {
        font-weight: 400;
        font-size: 64px;
        line-height: 100%;
        color: #012b34;
    }
    &__wrapper {
        margin-top: 80px;
    }
}
