.spoiler {
    $root: &;
	 border-top: 1px solid #E6E6E6;
	 border-radius: 5px;
	 &:last-child {
		border-bottom: 1px solid #E6E6E6;
	 }
	
	 &__head {
		@include Margin-top(30,24,20,24,20);
		
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		cursor: pointer;
		&-title {
			@include Font(36,27,24,27,24);
			line-height: 120%;
			@include WidthP(65%,70%,60%,87%,94%);
		}
		&-icon {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				@include WidthPx(28,20,16,20,16);
				@include HeightPx(1,1,1,1,1);
				@include Top(21,15,12,15,12);
				right: 0;
				background-color: #02818A;
				transform: rotate(90deg);
				transition: transform .6s ease;
			}
			&::after {
				content: '';
				position: absolute;
				@include WidthPx(28,20,16,20,16);
				@include HeightPx(1,1,1,1,1);
				@include Top(21,15,12,15,12);
				right: 0;
				background-color: #02818A;
				transform: rotate(0deg);
				transition: transform .6s ease;
			}
		}

		&-icon.active  {
			&::before {
				content: '';
				position: absolute;
				@include WidthPx(28,20,16,20,16);
				@include HeightPx(1,1,1,1,1);
				@include Top(21,15,12,15,12);
				right: 0;
				background-color: #02818A;
				transform: rotate(135deg);
				transition: transform .6s ease;
			}
			&::after {
				content: '';
				position: absolute;
				@include WidthPx(28,20,16,20,16);
				@include HeightPx(1,1,1,1,1);
				@include Top(21,15,12,15,12);
				right: 0;
				background-color: #02818A;
				transform: rotate(45deg);
				transition: transform .6s ease;
			}
		}

		
	 }

	 &__collapse {
		
		@include Margin-bottom(40,30,24,24,20);
		height: 0;
		overflow: hidden;
		transition: all .6s ease;
	 }
	 &__collapse.active {
		@include Margin-top(30,20,16,16,16);
	 }
	 &__content {
		line-height: 150%;
		@include Font(20,15,14,15,15);
		@include WidthP(65%,70%,60%,87%,94%);
	}
}





