mixin spoiler(props)
   .spoiler(data-spoiler=props.id)&attributes(attributes)
      .spoiler__head
         span.spoiler__head-title!=props.title
         span.spoiler__head-icon
      .spoiler__collapse
         p.spoiler__content!=props.text
         block
